<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/contacto.css">
    <title>contacto</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">🍣 Sushi</div>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/promociones.html">Promociones</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
                <li><a href="../templates/nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contacto">
            <h2>Contáctanos</h2>
            <p>¿Tienes dudas o quieres hacer un pedido? ¡Escríbenos!</p>

            <form class="formulario-contacto">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="correo">Correo electrónico</label>
                <input type="email" id="correo" name="correo" required>

                <label for="mensaje">Mensaje</label>
                <textarea id="mensaje" name="mensaje" rows="5" required></textarea>

                <button type="submit">Enviar mensaje</button>
            </form>
        </section>

    </main>
    <footer class="footer">
        <p>Nuestras redes:</p>
    <div class="redes">
        <a class="icono facebook" href="https://facebook.com" target="_blank"></a>
        <a class="icono instagram" href="https://instagram.com" target="_blank"></a>
        <a class="icono twitter" href="https://twitter.com" target="_blank"></a>
    </div>
    <p>&copy; 2025 sushi </p>
    </footer>
</body>
</html>