<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nosotros.css">
    <title>nosotros</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">🍣 Sushi</div>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/promociones.html">Promociones</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
                <li><a href="../templates/nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>

        </section>
        <section>
            
        </section>
    </main>
    <footer class="footer">
        <p>Nuestras redes:</p>
    <div class="redes">
        <a class="icono facebook" href="https://facebook.com" target="_blank"></a>
        <a class="icono instagram" href="https://instagram.com" target="_blank"></a>
        <a class="icono twitter" href="https://twitter.com" target="_blank"></a>
    </div>
    <p>&copy; 2025 sushi </p>
    </footer>
</body>
</html>