<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/promociones.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <title>promociones</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
            <img src="../imagenes/sushi dev-2.0.png" alt="Sushi Logo" class="logo-img">
        </div>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/promociones.html">Promociones</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
                <li><a href="../templates/nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="promociones">
            <h2 >⛩️Promociones Backend⛩️</h2>
            <br>
            <div>
                <img src="../imagenes/sushi-img1.webp" alt="">
                <p>Node Nigiri</p>
                <p>Porción de nigiris "sin bloqueo", servidos en tiempo record.</p>
            </div>
            <div>
                <img src="../imagenes/sushi-img2.webp" alt="">
                <p>MongoMix</p>
                <p>Roll variado y no relacional: ingredientes inesperados, pero que combinan.</p>
            </div>
            <div>
                <img src="../imagenes/sushi-img5.webp" alt="">
                <p>Laravel Lunchbox</p>
                <p>Combo de almuerzo con sabores bien organizados y potente backend.</p>
            </div>
            <div>
                <img src="../imagenes/sushi-img4.webp" alt="">
                <p>Express Set</p>
                <p>Combo veloz con entrega inmediata. Incluye 3 rolls y sopa miso.</p>
            </div>

        </section>
        <section class="promociones2">
            <h2 class="titulo-promo-front">⛩️Promociones Frontend⛩️</h2>
            <br>
            <div>
                <img src="../imagenes/prommo2.jpg" alt="">
                <p>combo flexbox</p>
                <p>6 rolls surtidos alineados perfectamente + bebida.</p>
            </div>
            <div>
                <img src="../imagenes/promo2.jpg" alt="">
                <p>Sushi Grid</p>
                <p>Combinación ordenada de 6 rolls distintos, estilo "layout responsivo".</p>
            </div>
            <div>
                <img src="../imagenes/proomo2.jpg" alt="">
                <p>Flexbox Feast</p>
                <p>Pack flexible de nigiris y rolls, perfecto para adaptarse a todos los gustos.</p>
            </div>
            <div>
                <img src="../imagenes/prromo2.jpg" alt="">
                <p>CSS Combo</p>
                <p>Variedad de sabores bien estilizados. Incluye roll clásico, spicy y tempura.</p>
            </div>
            
        </section>
        <section class="promociones3">
            <h2 class="titulo-promo-front">⛩️Promociones DevOps⛩️</h2>
            <br>
            <div>
                <img src="../imagenes/promo3.jpeg" alt="">
                <p>Restful Rolls</p>
                <p>Selección de rolls bien equilibrados, perfectos para compartir por partes.</p>
            </div>
            <div>
                <img src="../imagenes/prommo3.jpg" alt="">
                <p>DevOps Delight</p>
                <p>Combo para deployar felicidad: incluye rolls, bebidas y postre.</p>
            </div>
            <div>
                <img src="../imagenes/sushi-img5.webp" alt="">
                <p>Webhook Wasabi</p>
                <p>¡Una explosión inesperada de sabor que se activa al primer bocado!</p>
            </div>
            <div>
                <img src="../imagenes/sushi-img4.webp" alt="">
                <p>CI/CD Combo</p>
                <p>Preparación continua, frescura garantizada. Llega en minutos a tu mesa.</p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>Nuestras redes:</p>
    <div class="redes">
        <a class="icono facebook" href="https://facebook.com" target="_blank"></a>
        <a class="icono instagram" href="https://instagram.com" target="_blank"></a>
        <a class="icono twitter" href="https://twitter.com" target="_blank"></a>
    </div>
    <p>&copy; Todos los derechos Reservados SushiDEV. </p>
    </footer>
</body>
</html>