<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/promociones.css">
    <title>promociones</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
            <img src="../imagenes/sushi dev-2.0.png" alt="Sushi Logo" class="logo-img">
        </div>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/promociones.html">Promociones</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
                <li><a href="../templates/nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="promociones">
            <h2 >🥢Promociones Backend</h2>
            <br>
            <div>
                <img src="../imagenes/sushi-img1.webp" alt="">
                <p>Node Nigiri</p>
                <p>Porción de nigiris "sin bloqueo", servidos en tiempo record.</p>
            </div>
            <div>
                <img src="../imagenes/sushi-img2.webp" alt="">
                <p>MongoMix</p>
                <p>Roll variado y no relacional: ingredientes inesperados, pero que combinan.</p>
            </div>
            <div>
                <img src="../imagenes/sushi-img5.webp" alt="">
                <p>Laravel Lunchbox</p>
                <p>Combo de almuerzo con sabores bien organizados y potente backend.</p>
            </div>
            <div>
                <img src="../imagenes/sushi-img4.webp" alt="">
                <p>Express Set</p>
                <p>Combo veloz con entrega inmediata. Incluye 3 rolls y sopa miso.</p>
            </div>

        </section>
        <section>
            
        </section>
    </main>
    <footer class="footer">
        <p>Nuestras redes:</p>
    <div class="redes">
        <a class="icono facebook" href="https://facebook.com" target="_blank"></a>
        <a class="icono instagram" href="https://instagram.com" target="_blank"></a>
        <a class="icono twitter" href="https://twitter.com" target="_blank"></a>
    </div>
    <p>&copy; Todos los derechos Reservados SushiDEV. </p>
    </footer>
</body>
</html>