<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/promociones.css">
    <title>promociones</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">🍣 Sushi</div>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/promociones.html">Promociones</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
                <li><a href="../templates/nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="promociones">
            <h2>Promociones</h2>
            <p>Aproveche nuestras promociones a un precio unico!</p>
            <div>
                <img src="../imagenes/sushi-img1.webp" alt="">
                <p>Promoción 1</p>
                <p>Una descripción breve de la promoción 1</p>
            </div>
            <div>
                <img src="../imagenes/sushi-img2.webp" alt="">
                <p>Promoción 2</p>
                <p>Una descripción breve de la promoción 2</p>
            </div>
            <div>
                <img src="../imagenes/sushi-img5.webp" alt="">
                <p>Promoción 3</p>
                <p>Una descripción breve de la promoción 3</p>
            </div>
            <div>
                <img src="../imagenes/sushi-img4.webp" alt="">
                <p>Promoción 4</p>
                <p>Una descripción breve de la promoción 4</p>
            </div>

        </section>
        <section>
            
        </section>
    </main>
    <footer class="footer">
        <p>Nuestras redes:</p>
    <div class="redes">
        <a class="icono facebook" href="https://facebook.com" target="_blank"></a>
        <a class="icono instagram" href="https://instagram.com" target="_blank"></a>
        <a class="icono twitter" href="https://twitter.com" target="_blank"></a>
    </div>
    <p>&copy; 2025 sushi </p>
    </footer>
</body>
</html>